frontend/.DS_Store
frontend/node_modules
frontend/build
frontend/.svelte-kit
frontend/package
frontend/.env
frontend/.env.*
frontend/!.env.example
frontend/vite.config.js.timestamp-*
frontend/vite.config.ts.timestamp-*
frontend/package-lock.json
frontend/src/routes/generate_key.js

backend/debug/
backend/target/
backend/Cargo.lock
backend/**/*.rs.bk
backend/*.pdb
backend/.env
backend/src/check_key.rs
